#editor {
    box-sizing: border-box; /* fit parent width */
    height: 100%;
    width: 100%;
    border: solid 1px #000;
    font-size: medium;
    font-family: "Segoe UI",sans-serif,"Segoe MDL2 Assets","Symbols";
}
