################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Debug
/bld/Debug
/AppPackages
/bin
/bld
/BundleArtifacts
/Package.StoreAssociation.xml
/Swanalekha_StoreKey.pfx
/_pkginfo.txt
/_scale-100.appx
